@font-face {
    font-family: 'Avenir Next';
    src: 
        url('../fonts/AvenirNextCyr-Bold.woff') format('woff')
        url(  '../fonts/AvenirNextCyr-Demi.woff') format('woff')
        url('../fonts/AvenirNextCyr-BoldItalic.woff') format('woff')
        url('../fonts/AvenirNextCyr-Heavy.woff') format('woff')
        url('../fonts/AvenirNextCyr-Light.woff') format('woff')
        url('../fonts/AvenirNextLTPro-Bold.otf') format('otf')
        url('../fonts/AvenirNextCyr-UltraLight.woff') format('woff')
      
}

table,
tr,
th,
td,
div,
p {
    font-family: Arial, sans-serif;
    /* border:1px solid black;  */
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}


body{
    margin: 0;
    padding: 0;
    background-color: rgb(241, 237, 237);
    font-family: 'Avenir Next',sans-serif;
}
.header{
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 705px;
    justify-content: center;
}

hr{
    width: 618px;
   opacity: 0.5;
}
.section{
    margin: 0 auto;
    width: 705px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    font-family: 'Avenir Next', sans-serif;

}
.section1{
    background: white;
    border-radius: 18px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    text-wrap: wrap;
    line-height: 3rem;
    color: black;
    font-family: 'Avenir Next', sans-serif;
    
}
.section1>h4{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    width: 573px;
    font-family: 'Avenir Next', sans-serif;
    
}
.section1>h1{
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;

}
span{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    text-align: left;
}
.section2 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 706px;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: white;
    border-radius: 24px;
    margin-bottom: 2rem;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.section22 {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    /* padding-left: 4rem;
    padding-right: 4rem; */
    padding-bottom: 2rem;
    font-family: 'Avenir Next', sans-serif;
                                                
}

.text1 {
    width: 281px;
    font-family: 'Avenir Next', sans-serif;                                     
    font-size: 40px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;

}

.text2 {
    width: 240.78px;
    color: #0F2217;
   font-family: 'Avenir Next', sans-serif;
                                                
}

.text2 > p {
    font-family: 'Avenir Next', sans-serif;
    letter-spacing: 0.025em;                     
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    text-align: left;
}

.text1 > h1 {
    font-family: 'Avenir Next',sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background: #3E4095;
    width: 144px;
    border-radius: 10px;
    border: #3E4095;
    color: white;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

button > h3 {
    font-family: 'Avenir Next',sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 7px;
    text-align: center;
}

.sec {
    display: flex;
    position: relative;
    margin-top: auto; 
    justify-content: flex-end; 
}

.sec h1 {
    position: absolute;
}

.sec h1:nth-child(1) {
    z-index: 1;
    bottom: 48px;
    right: 107px;
}

.sec h1:nth-child(2) {
    z-index: 2;
    bottom: -58px;
    right: 15px;
}

.sec h1:nth-child(3) {
    z-index: 3;
    bottom: -63px;
    right: 0;
    filter: grayscale(100%);
}

.section3 {
    display: flex;
    margin: 0 auto;
    width: 706px;
    background: var(--Paddycover-Blue, #3E3F94);
    border-radius: 24px;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    
    color: white;
    padding: 0rem 1rem; 
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    font-family: 'Avenir Next', sans-serif;
}

.section33 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding-bottom: 2.5rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.section33text {
    width: 50%;
    padding-left: 1rem;
}

.section33text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 0.5rem;
}

.section33text h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.images {
    display: flex;
    margin-top: 1rem;
    cursor: pointer; 
}

.images img {
    margin-right: 1.5rem;
    padding-right: 1rem;
}

.contact {
    width: 50%;
    text-align: left; 
    padding-left: 2rem;
}

.contact h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 0.5rem;
}

.contact h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.contact h4:nth-child(3){
    padding-top: 0.5rem;
    cursor: pointer;
}
button a h1{
    color: white;
    font-weight: bold;
}
.section2 .section22 button a h1